<router-outlet></router-outlet>
<div class="w-full h-[70vh] bg-teal-200"></div>

<div *ngFor="let item of items; let i=index;" class="p-4" >
  <p class="py-2"><b>{{item.title}}</b></p>
  <div class="relative">
    <div class="flex gap-4 duration-500 ease-in-out" [ngStyle]="{'transform': 'translateX(' + scrollPositions[i] + 'px)'}">
      <div
        class="cursor-pointer flex-shrink-0 w-48 h-24 bg-red-100 hover:scale-150 duration-200 ease-in-out shadow-md flex items-center justify-center"
        *ngFor="let movie of item.movies">
        {{movie}}
      </div>
    </div>

    <div class="h-full flex items-center px-4 absolute top-0">
      <button (click)="prev(i)">Prev</button>
    </div>

    <div class="h-full flex items-center px-4 absolute top-0 right-0">
      <button (click)="next(i)">Next</button>
    </div>
  </div>
</div>